*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "BebasNeue-Regular", sans-serif;
    scroll-behavior: smooth;
}
body{
    height: 100%;
    background-color: rgba(201, 199, 91, 0.5);
}